/* 
Sourvce GitHub : https://goo.gl/uojHv7
*/

/* 
Style reset
    - supprimer toutes (*{...}) les marges : padding/margin
    - intégrer les border et les padding dans la taille des boites/balises
    - passer d'une base 16 à une base 10
*/

    *{
        /* supprimer toutes les marges */
        margin: 0;
        padding: 0;

        /* intégrer les border et les padding dans la taille des boites/balises */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* passer d'une base 16 à une base 10 */
    html{
        font-size: 62.5%; /* 1rem => 10px */
    }

    body{
        font-size: 1.5rem;
    }

/**/


/*
Style header
*/

    /* 
    - Tous les liens de la nav sont sur une ligne, calés à gauche sauf le premier qui est à droite
    - La largeur de la nav est de 900px maximum, et la nav est centrée dans la page
    */
    nav ul{
        /* La largeur de la nav est de 900px maximum */
        max-width: 90rem;

        /* la nav est centrée dans la page */
        margin: auto;

        /* Bloquer les enfants (en position absolute) dans le parent */
        position: relative;
    }

    #homeBtn{
        /* Sortir la ba:ise du flux de lecture logique */
        position: absolute;

        /* Placer la balise à droite du parent en position relative */
        right: 0;
    }

    nav li{
        display: inline-block;
    }

    /* Ajouter l'image de fond avec un principe de parallax */
    header{
        /* Le header fait 100% de la hauteur de la page */
        height: 100vh; /* View Height : hauteur de la vue/fenêtre */
        background-image: url('../img/spaceMan.png');
        background-repeat: no-repeat;
        
        background-size: cover; /* L'image s'adapte a la balise en largeur ou en hauteur */
        background-position: center; /* L'image est au centre de la balise */
        background-attachment: fixed; /* l'image ne bouge pas => effet parallax */

        /* Bloquer les enfants dans le parent */
        position: relative;
    }

    /* Le titre principal est TOUJOURS au centre du header */
    h1{
        background-color: white;
        padding: 2rem;

        /* Sortir du flux pour la repositionner */
        position: absolute;
        top: 50%;
        left: 50%;

        /* 
        Décaler la balise de 50% de sa taille en haut à gauche 
        https://www.w3schools.com/cssref/css3_pr_transform.asp
        */
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
/**/