section{
    padding: 1rem;
    border: .1rem dashed black;
    width: 50rem;
    margin: auto;

    /* 
    Utilisation du principe de boites flexibles 
    https://www.w3schools.com/css/css3_flexbox.asp
    */
    display: -ms-flex; /* constructeur IE */
    display: -moz-flex; /* constructeur Firefox */
    display: -webkit-flex; /* constructeur Chrome */
    display: flex;
}

article{
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    width: 10%;
}

article:first-child{
    width: 70%
}



#greenArticle{
    background-color: green;
}

#yellowArticle{
    background-color: yellow;
}

#redArticle{
    background-color: red;
}

#greyArticle{
    background-color: grey;
}